

@{
  
}
<style>
    .custom-button {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: #337ab7;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        border: none;
        outline: none;
        z-index: 9999;
        transition: background-color 0.3s ease;
    }

        .custom-button:hover {
            background-color: #23527c;
        }
</style>
<h1>@ViewData["Title"]</h1>
<a href="@Url.Action("Profile", "Manager")" class="custom-button">Повернутися</a>
<form method="post" asp-action="AddSpec" asp-controller="ManagerController">
    <div class="form-group">
        <label for="inputField">Додати спеціальність:</label>
        <input type="text" class="form-control" id="inputField" name="spec" required>
    </div>

    <button type="submit" class="btn btn-primary">Додати</button>
</form>
